/To-Do.ooutline
/TestData/
/build/
/dist/
/ReleaseBinaries/
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.20C_00001302.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.30C_00001300.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.40C_00001290.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.40C_00001292.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.40C_00001294.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.40C_00001296.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.40C_00001298.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.50C_00001286.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.50C_00001288.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.70C_00001284.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.80C_00001280.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.80C_00001282.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-14.90C_00001281.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001272.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001273.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001274.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001275.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001276.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001277.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001278.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001279.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001283.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001285.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001287.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.00C_00001303.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.10C_00001289.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.10C_00001293.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.10C_00001301.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.20C_00001291.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.20C_00001295.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.20C_00001297.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_1x1_0.000secs_-15.20C_00001299.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-14.40C_00001306.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-14.60C_00001305.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-14.70C_00001308.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_0000132b.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001307.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001314.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001318.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001319.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001320.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001321.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001322.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001323.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001324.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001325.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001326.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001327.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001328.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001329.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001330.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001331.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001332.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001333.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001334.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.00C_00001335.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.20C_00001315.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.20C_00001316.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.20C_00001317.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.30C_00001309.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.30C_00001311.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.30C_00001312.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.30C_00001313.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_2x2_0.000secs_-15.40C_00001310.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001336.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001337.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001338.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001339.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001340.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001341.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001342.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001343.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001344.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001345.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001346.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001347.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001348.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001349.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001350.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001351.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001352.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001353.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001354.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001355.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001356.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001357.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001358.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001359.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001360.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001361.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001362.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001363.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001364.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001365.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001366.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/BIAS_3x3_0.000secs_-15.00C_00001367.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.30C00001387.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.30C00001391.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.40C00001385.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.40C00001395.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.50C00001383.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.50C00001389.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.50C00001399.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.60C00001393.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.60C00001397.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.70C00001381.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.80C00001379.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.90C00001373.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.90C00001375.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-14.90C00001377.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001368.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001369.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001370.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001371.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001372.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001374.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001376.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001378.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001384.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.00C00001388.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.10C00001380.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.10C00001382.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.10C00001386.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/DARK_1x1_0.500secs_-15.10C00001392.fit
/Videos/MasterBiasMaker Video Stage/02 Raw Bias Files/
/Videos/MasterBiasMaker Video Stage/03 Master Files Output/
/Videos/MasterBiasMaker Video Stage/04 Raw Files with Different Temperatures/
/Videos/MasterBiasMaker Video Stage/05 Incomplete Set/
/Videos/MasterBiasMaker Video Stage/06 Command Line/
/Videos/MasterBiasMaker Video Stage/
